* {
    padding: 0;
    margin: 0;
    font-family: Arial, "MS Sans Serif", sans-serif;
    background-color: #f0f0f0;
}

.mainHead {
    text-align: center;
    font-family: cursive;
}

.secWhole:nth-child(odd) {
    width: 80%;
    margin-left: 18%;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
}

.secWhole:nth-child(even) {
    width: 80%;
    margin-left: 2%;
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
}

.secHeading {
    font-family: cursive;
}

.info {
    display: flex;
    width: 100%;
 }

.secText {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.divOne:nth-child(odd) {
    width: 20%;
    display: flex;
    justify-content: flex-end;
 }

 .divOne:nth-child(even) {
    width: 20%;
    display: flex;
    justify-content: flex-start;
 }

 