* {
    padding: 0;
    margin: 0;
    font-family: Arial, "MS Sans Serif", sans-serif;
    background-color: #f0f0f0;
}

.mainHead {
    text-align: center;
    font-family: cursive;
}

.secWhole:nth-child(odd) {
    width: 80%;
    margin-left: 18%;
    display: flex;
    flex-direction: column;
}

.secWhole:nth-child(even) {
    width: 80%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.secHeading {
    font-family: cursive;
}

.info {
    display: flex;
    width: 100%;
 }

 .secText {
    background-color: #f8f8f8; 
    justify-content: flex-end;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
 }

.divOne {
    width: 20%;
    display: flex;
}

.secWhole:nth-child(odd) > div.info {
    flex-direction: row;
}

.secWhole:nth-child(even) > div.info {
    flex-direction: row-reverse;
}